body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Light Theme */
body.light {
  background-color: #ffffff;
  color: #222222;
}

/* Dark Theme */
body.dark {
  background-color: #121212;
  color: #f1f1f1;
}

.app {
  text-align: center;
  margin-top: 10%;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
}

button:hover {
  background: #0056b3;
}

